<div class="p-a text-xs">
  <div class="pull-right text-muted">
    2016 &copy; <strong>CeramahAgama.Id</strong> <span class="hidden-xs-down">- Semoga Bermanfaat Dunia & Akhirat</span>
    <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
  </div>
  <div class="nav"><!-- COUNTER: BEGIN -->
<a href='http://www.blogutils.net/' id='lnolt_' target='_blank' style='text-decoration:none;'>
<script language='JavaScript' src='http://blogutils.net/olct/online.php?site=dakwah.github.io/&interval=600'></script></a><a href='http://blogutils.net/olct/en/' target='_blank' style='text-decoration:none;'> online</a>
<!-- COUNTER: END -->

      <script language='JavaScript' src='http://blogutils.net/olct/online.php?site=dakwah.github.io/&interval=600'></script> online
  </div>
</div>
