<div class="p-a text-xs">
  <div class="pull-right text-muted">
    2016 &copy; <strong>CeramahAgama.Id</strong> <span class="hidden-xs-down">- Semoga Bermanfaat Dunia & Akhirat</span>
    <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
  </div>
  <div class="nav">
      <script>var _uox = _uox || {};(function() {var s=document.createElement("script");
s.src="http://static.usuarios-online.com/uo2.min.js";document.getElementsByTagName("head")[0].appendChild(s);})();</script>
<a href="http://www.usuarios-online.com/en/" data-id="99f4161e0a151d96f2b9290ee4a39df2" data-type="color" data-c1="#f0f0f0" data-c2="#373a3c" data-c3="#f0f0f" target="_blank" id="uox_link"> online</a>
  </div>
</div>
