	<div class="row">
		<div class="col-sm-12">
            <h6 class="m-b-0 _400" >
                <font color="#fff" >Assalamu'alaikum saudaraku <i class="fa fa-smile-o"></i> ingin berlangganan informasi ceramah terbaru? Silahkan bergabung di 
                    <a href="../assets/Media Sosial Ceramahagama.id.png" download>
                        <img src="../assets/social/telegram.png" class="jarakicon3">Telegram,
                        <img src="../assets/social/bbm.png" class="jarakicon3">BBM
                    </a>atau ikuti media sosial kami.
                </font>
            </h6>
		</div>
	</div>
