	<div class="row">
		<div class="col-sm-12">
            <h6 class="m-b-0 _400" >
                <font color="#fff" >Assalamu'alaikum saudaraku <i class="fa fa-smile-o"></i> ingin berlangganan informasi ceramah terbaru? Silahkan bergabung di 
                    <a href="../assets/bbm.jpg" download="BBM CERAMAHAGAMA.ID.jpg" data-balloon="@ceramahagamaid" data-balloon-pos="down">
                        <img src="../assets/social/telegram.png" class="jarakicon3">Telegram,
                    </a>
                    <a data-balloon="BBM: 569F88 | BBM Channel: C00301307" data-balloon-pos="down">
                        <img src="../assets/social/bbm.png" class="jarakicon3">BBM,
                    </a>
                    <a class="">
                        <img src="../assets/social/line.png" class="jarakicon3">Line
                    </a> atau ikuti 
                    <a data-balloon="Youtube, Facebook, Twitter, Instagram & Google+" data-balloon-pos="down">media sosial
                    </a> kami.
                </font>
            </h6>
		</div>
	</div>
