.div-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-logo {
  width: 200px;
}

.div-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone-navbar-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.text-phone {
  padding-left: 10px;
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.phone-navbar-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 400px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(41, 59, 80, .6), rgba(41, 59, 80, .6)), url('../images/image-1.jpg');
  background-image: linear-gradient(180deg, rgba(41, 59, 80, .6), rgba(41, 59, 80, .6)), url('../images/image-1.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.div-hero {
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
  margin-top: -75px;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-hero {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0 10px 20px rgba(54, 60, 67, .4);
}

.paragraph-hero {
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 0 10px 20px rgba(54, 60, 67, .4);
}

.div-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  text-align: center;
}

.bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #f0f1f3;
}

.copyright-text {
  line-height: 24px;
}

.div-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.school-footer {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.address-footer {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.phone-footer {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.email-footer {
  font-family: Roboto, sans-serif;
  color: #1565c0;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
}

.div-row-footer-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-social-media {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.div-icon-social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-media-icons {
  margin-right: 15px;
}

.div-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.image {
  width: 100%;
}

.heading-join {
  margin-bottom: 40px;
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.gallery {
  margin-top: 100px;
}

.div-row-footer-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.row-gallery-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.row-gallery-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  width: 80%;
  height: 425px;
  margin-top: -90px;
  border-radius: 20px;
  box-shadow: 0 30px 50px 0 rgba(54, 60, 67, .4);
}

.slider-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-1 {
  border-style: none;
  border-radius: 20px;
  background-image: url('../images/image-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-2 {
  border-style: none;
  border-radius: 20px;
  background-image: url('../images/image-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.div-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-information {
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
}

.information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
}

.div-date-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  line-height: 30px;
}

.list-item {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
}

.list-title {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.div-included {
  margin-top: 30px;
}

.text-date-price {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  font-weight: 700;
}

.div-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wallet-icon {
  margin-right: 10px;
}

.div-paragraph {
  margin-top: 30px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fafafa;
}

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-details {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.div-details-1 {
  width: 50%;
  margin: 50px;
}

.div-text-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.line {
  height: 1px;
  margin-top: 10px;
  background-color: #e0e0e0;
}

.text-details {
  font-family: Roboto, sans-serif;
  color: #363c43;
  font-size: 16px;
  line-height: 36px;
  text-align: right;
}

.div-image {
  width: 33.3333333%;
}

.div-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  min-width: 960px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.calendar-icon {
  margin-right: 10px;
}

.block-details-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 66.6666666%;
}

.block-details-2 {
  width: 33.3333333%;
}

.div-details-2 {
  margin: 50px;
}

@media (max-width: 991px) {
  .div-navbar {
    max-width: 960px;
    min-width: 750px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .hero {
    min-height: 400px;
  }
  .div-hero {
    max-width: 960px;
    min-width: 750px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-bottom {
    max-width: 960px;
    min-width: 750px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-footer {
    max-width: 960px;
    min-width: 750px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .div-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .row-gallery-1 {
    width: 100%;
  }
  .div-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-information {
    max-width: 960px;
    min-width: 750px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .div-date-price {
    margin-top: 30px;
  }
  .div-details {
    max-width: 960px;
    min-width: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-slider {
    max-width: 960px;
    min-width: 750px;
  }
  .block-details-1 {
    width: 100%;
  }
  .block-details-2 {
    width: 50%;
  }
  .div-details-2 {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .div-navbar {
    max-width: 750px;
    min-width: 480px;
  }
  .div-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .phone-navbar-1 {
    margin-right: 0px;
  }
  .phone-navbar-2 {
    padding-top: 10px;
  }
  .hero {
    min-height: 300px;
  }
  .div-hero {
    max-width: 750px;
    min-width: 480px;
  }
  .div-bottom {
    max-width: 750px;
    min-width: 480px;
  }
  .div-footer {
    max-width: 750px;
    min-width: 480px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .heading-join {
    margin-bottom: 30px;
  }
  .div-row-footer-2 {
    margin-top: 30px;
  }
  .div-social-media {
    margin-top: 30px;
  }
  .slider {
    height: 300px;
  }
  .div-information {
    max-width: 750px;
    min-width: 480px;
  }
  .div-details {
    max-width: 750px;
    min-width: 480px;
  }
  .div-details-1 {
    width: 100%;
    margin-bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .div-slider {
    max-width: 750px;
    min-width: 480px;
  }
  .block-details-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .block-details-2 {
    width: 100%;
  }
  .div-details-2 {
    margin-top: 50px;
  }
}

@media (max-width: 479px) {
  .div-navbar {
    max-width: 480px;
    min-width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-logo {
    width: auto;
  }
  .div-phone {
    margin-top: 20px;
  }
  .hero {
    min-height: 300px;
  }
  .div-hero {
    max-width: 480px;
    min-width: 320px;
  }
  .heading-hero {
    font-size: 30px;
    line-height: 40px;
  }
  .paragraph-hero {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 5px;
  }
  .div-bottom {
    max-width: 480px;
    min-width: 320px;
  }
  .copyright-text {
    font-size: 14px;
  }
  .div-footer {
    max-width: 480px;
    min-width: 320px;
  }
  .heading-join {
    font-size: 24px;
  }
  .gallery {
    margin-top: 60px;
  }
  .row-gallery-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .row-gallery-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slider {
    height: 225px;
  }
  .div-information {
    max-width: 480px;
    min-width: 320px;
    margin-top: -30px;
  }
  .div-date-price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .paragraph {
    line-height: 28px;
  }
  .div-details {
    max-width: 480px;
    min-width: 320px;
  }
  .div-image {
    width: 100%;
  }
  .div-slider {
    max-width: 480px;
    min-width: 320px;
  }
  .div-date {
    margin-top: 10px;
    margin-left: 0px;
  }
}

