.menu {
  opacity: 0.65;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Gotham Pro Medium', sans-serif;
  color: #1e0938;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.menu:hover {
  opacity: 1;
}

.btn-green-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 18px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c436), to(#49c436));
  background-image: linear-gradient(180deg, #49c436, #49c436);
  -webkit-transition: background-color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
  cursor: pointer;
}

.btn-green-small:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.btn-green-small:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c436), to(#49c436));
  background-image: linear-gradient(180deg, #49c436, #49c436);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.text-btn-green-small {
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Gotham Pro Medium', sans-serif;
  color: #fff;
  line-height: 16px;
  text-transform: uppercase;
}

.btn-white-small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  margin-right: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #c7c1cd;
  border-radius: 18px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
  cursor: pointer;
}

.btn-white-small:hover {
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.btn-white-small:active {
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.text-btn-white-small {
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Gotham Pro Medium', sans-serif;
  color: #1e0938;
  line-height: 16px;
  text-transform: uppercase;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f6f6f6));
  background-image: linear-gradient(180deg, #f6f6f6, #f6f6f6);
  -webkit-transition: background-position 300ms ease, background-color 300ms ease;
  transition: background-position 300ms ease, background-color 300ms ease;
}

.header {
  width: 100%;
  max-width: 1200px;
  margin-top: 80px;
  padding-top: 70px;
  padding-bottom: 90px;
  padding-left: 70px;
  background-color: #1e0938;
  background-image: url('../images/bg-header-homepage.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.header.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-right: 70px;
  padding-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/bg-header-about.jpg');
}

.heading-header {
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 49px;
}

.paragraph-header {
  margin-top: 20px;
  padding-right: 500px;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
}

.paragraph-header.about {
  padding-right: 0px;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.text-point-header {
  margin-left: 10px;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #fff;
  font-size: 15px;
}

.div-point {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-point-header {
  margin-top: 30px;
}

.btn-green-big {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#49c436), to(#49c436));
  background-image: linear-gradient(180deg, #49c436, #49c436);
  -webkit-transition: background-color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, -webkit-transform 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease;
  transition: background-color 200ms ease, transform 200ms ease, -webkit-transform 200ms ease;
  text-decoration: none;
  cursor: pointer;
}

.btn-green-big:hover {
  -webkit-transform: translate(0px, -3px);
  -ms-transform: translate(0px, -3px);
  transform: translate(0px, -3px);
}

.btn-green-big:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3fb02d), to(#3fb02d));
  background-image: linear-gradient(180deg, #3fb02d, #3fb02d);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.left-btn-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bold-text-3 {
  font-family: 'Gotham Pro Bold', sans-serif;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.text-block-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-btn-header {
  margin-top: 10px;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #fff;
}

.div-btn-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.link {
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #49c436;
  font-size: 18px;
}

.right-btn-header {
  margin-top: 15px;
  margin-left: 40px;
}

.separator-gold {
  width: 100%;
  height: 5px;
  max-width: 1200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#bf7542), to(#fbcd87));
  background-image: linear-gradient(90deg, #bf7542, #fbcd87);
}

.client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.text-section {
  max-width: 1000px;
  margin-top: 70px;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #1e0938;
  font-size: 31px;
  line-height: 38px;
  text-align: center;
}

.text-section.about {
  text-align: left;
}

.client-logo {
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.client-logo:hover {
  opacity: 1;
  -webkit-filter: none;
  filter: none;
}

.testimonials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/quote-icon.svg'), -webkit-gradient(linear, left top, left bottom, from(#e8e6eb), to(#e8e6eb));
  background-image: url('../images/quote-icon.svg'), linear-gradient(180deg, #e8e6eb, #e8e6eb);
  background-position: 65px -39px, 0px 0px;
  background-repeat: no-repeat, repeat;
}

.div-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  background-image: linear-gradient(180deg, #fff, #fff);
}

.footer-text {
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #1e0938;
  font-size: 15px;
}

.footer-link {
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #1e0938;
  text-decoration: none;
}

.div-footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.footer-separate {
  margin-right: 10px;
  margin-left: 10px;
}

.social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.italic-text {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-slide {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #514064;
  font-size: 18px;
  line-height: 33px;
  font-style: italic;
  text-align: center;
}

.slider {
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-right: 125px;
  padding-left: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.photo-slide {
  width: 44px;
  height: 44px;
  border-radius: 30px;
  background-color: #fff;
  background-image: url('../images/photo.png');
  background-position: 0px 0px;
  background-size: 44px;
}

.div-profile-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.company-profile-slide {
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #514064;
  font-size: 14px;
  line-height: 14px;
}

.name-profile-slide {
  font-family: 'Gotham Pro Bold', sans-serif;
  color: #1e0938;
  font-size: 16px;
  line-height: 16px;
}

.profile-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.mask {
  background-image: none;
}

.faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.line-accordion {
  overflow: hidden;
  width: 100%;
  height: 1px;
  max-width: 1060px;
  background-color: #f0f0f0;
}

.accordion-wrapper {
  width: 100%;
  max-width: 1060px;
  margin-top: 60px;
}

.accordion-item-trigger {
  height: 100%;
}

.text-question {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #1e0938;
  font-size: 20px;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
}

.answer {
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #1e0938;
  font-size: 16px;
  line-height: 24px;
}

.bottom-hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding-top: 125px;
  padding-bottom: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1e0938;
  background-image: url('../images/logo-icon.svg');
  background-position: -47px -74px;
  background-size: 555px;
  background-repeat: no-repeat;
}

.text-section-white {
  margin-bottom: 30px;
  font-family: 'Proxima Nova Regular', sans-serif;
  color: #fff;
  font-size: 31px;
}

.div-question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.div-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-width: 960px;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.div-btn-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3 {
  width: 100%;
  max-width: 1000px;
  margin-top: 40px;
  margin-bottom: 70px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  padding: 40px 70px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-header-about {
  font-family: 'Gotham Pro Medium', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.phoenix {
  margin-top: 20px;
  margin-bottom: 70px;
}

.about-owner {
  width: 100%;
  max-width: 1200px;
  padding-right: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  background-color: #fff;
}

.grid-4 {
  margin-top: 25px;
  grid-column-gap: 19px;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.paragraph-owner {
  margin-top: 10px;
  font-family: 'Gotham Pro Regular', sans-serif;
  color: #57476a;
  font-size: 16px;
  line-height: 24px;
}

.sticky-navbar {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.line-navbar {
  width: 100%;
  height: 1px;
  max-width: 1200px;
  background-color: #f0f0f0;
}

@media (max-width: 991px) {
  .menu {
    display: block;
  }
  .header {
    background-position: 100% 50%;
  }
  .header.about {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .heading-header {
    font-size: 38px;
    line-height: 45px;
  }
  .paragraph-header {
    padding-right: 70px;
    font-size: 18px;
    line-height: 30px;
  }
  .div-point-header {
    padding-right: 70px;
  }
  .link {
    margin-bottom: 10px;
    text-align: center;
  }
  .text-section {
    padding-right: 70px;
    padding-left: 70px;
    font-size: 28px;
  }
  .text-section.about {
    text-align: center;
  }
  .text-slide {
    font-size: 18px;
  }
  .slider {
    height: 100%;
    margin-bottom: 60px;
  }
  .div-slide {
    padding-right: 75px;
    padding-left: 75px;
  }
  .accordion-wrapper {
    margin-top: 30px;
  }
  .answer {
    font-size: 15px;
  }
  .div-navbar {
    max-width: 991px;
    min-width: 750px;
  }
  .grid-3 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .nav-menu {
    background-color: #e8e6eb;
  }
  .phoenix {
    margin-bottom: 50px;
  }
  .grid-4 {
    -ms-grid-columns: 1.25fr;
    grid-template-columns: 1.25fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 50px;
    background-position: 80% 50%;
  }
  .header.about {
    padding-top: 70px;
    padding-right: 50px;
    padding-bottom: 70px;
  }
  .heading-header {
    font-size: 30px;
    line-height: 36px;
  }
  .paragraph-header {
    font-size: 16px;
    line-height: 24px;
  }
  .paragraph-header.about {
    font-size: 15px;
  }
  .div-point-header {
    margin-top: 20px;
  }
  .text-block-2 {
    text-align: center;
  }
  .text-section {
    margin-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 26px;
    line-height: 36px;
  }
  .text-section.about {
    font-size: 30px;
  }
  .div-block-14 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-text {
    text-align: center;
  }
  .italic-text {
    font-size: 17px;
  }
  .slider {
    margin-bottom: 50px;
  }
  .div-slide {
    padding-right: 30px;
    padding-left: 30px;
  }
  .text-question {
    font-size: 18px;
    line-height: 24px;
  }
  .bottom-hero {
    padding-right: 40px;
    padding-left: 40px;
  }
  .text-section-white {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
  }
  .div-navbar {
    max-width: 750px;
    min-width: 480px;
  }
  .grid-3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .heading {
    font-size: 36px;
    line-height: 36px;
  }
  .div-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .phoenix {
    margin-bottom: 30px;
  }
  .about-owner {
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 479px) {
  .header {
    padding: 10px 30px 50px;
    background-color: #1c0635;
    background-position: 77% 0px;
    background-size: 800px;
  }
  .header.about {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
  }
  .heading-header {
    font-size: 24px;
    line-height: 24px;
  }
  .paragraph-header {
    margin-top: 10px;
    padding-right: 0px;
  }
  .paragraph-header.about {
    font-size: 15px;
    line-height: 24px;
  }
  .div-point-header {
    padding-right: 0px;
  }
  .text-btn-header {
    text-align: center;
  }
  .div-btn-header {
    margin-top: 20px;
  }
  .link {
    font-size: 16px;
  }
  .text-section {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 24px;
    line-height: 33px;
  }
  .footer-link {
    text-align: center;
  }
  .italic-text {
    font-size: 16px;
    line-height: 30px;
  }
  .text-slide {
    line-height: 30px;
  }
  .div-navbar {
    max-width: 480px;
    min-width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .heading {
    font-size: 24px;
  }
  .about-owner {
    padding-right: 30px;
    padding-left: 30px;
  }
  .paragraph-owner {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
  }
}

#w-node-a1b6ad0dcf7b-0606377a {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-a1b6ad0dcf7b-0606377a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}

#w-node-99483d1e2699-0606377a {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-0bab43c40dc2-0606377a {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 767px) {
  #w-node-0bab43c40dc2-0606377a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-a3f2c0852d9e-0606377a {
  -ms-grid-column: 5;
  grid-column-start: 5;
  -ms-grid-column-span: 1;
  grid-column-end: 6;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-a3f2c0852d9e-0606377a {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-a3f2c0852d9e-0606377a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-b7cfa18caa03-0606377a {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-b7cfa18caa03-0606377a {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-b7cfa18caa03-0606377a {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-252b31f4f731-0606377a {
  -ms-grid-column: 6;
  grid-column-start: 6;
  -ms-grid-column-span: 1;
  grid-column-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-252b31f4f731-0606377a {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-252b31f4f731-0606377a {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
}

#w-node-63e1cf196828-fd69ac6c {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media screen and (max-width: 991px) {
  #w-node-63e1cf196828-fd69ac6c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

#w-node-2608952bbc8b-fd69ac6c {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-column-align: end;
  justify-self: end;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-2608952bbc8b-fd69ac6c {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothaProBol.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../fonts/GothaProLig.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothaProReg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothaProMed.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/Mark-Simonson---Proxima-Nova-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}